# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
ENV/
venv/
.venv/
pip-wheel-metadata/

# Environment
.env
.env.*
*.env

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache/
coverage.xml

# Type checking
.mypy_cache/
.pyre/
.pytype/

# Logs
logs/*.log
logs/*.log.*

# IDE / Editor
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

